@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

@font-face {
    font-family: 'Poppins';
    src: url('/media/fonts/Poppins-Regular.woff2') format('woff2'),
        url('/media/fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gameplay';
    src: url('/media/fonts/Gameplay.woff2') format('woff2'),
        url('/media/fonts/Gameplay.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kdam Thmor Pro';
    src: url('/media/fonts/KdamThmorPro-Regular.woff2') format('woff2'),
        url('/media/fonts/KdamThmorPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/media/fonts/Poppins-Medium.woff2') format('woff2'),
        url('/media/fonts/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/media/fonts/Poppins-Light.woff2') format('woff2'),
        url('/media/fonts/Poppins-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/media/fonts/Poppins-Bold.woff2') format('woff2'),
        url('/media/fonts/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}