$w: #ffffff;
$b: #000000;
$gray-100: #f8f8f8;
$gray-200: #e9e9e9;
$gray-300: #dedede;
$gray-400: #cecece;
$gray-500: #adadad;
$gray-600: #6c6c6c;
$gray-700: #494949;
$gray-800: #343434;
$gray-900: #212121;

$primary: #f06236;
$secondary: #fcc809;

$screen1: #ffe8e8;
$screen2: #eeffe8;
$screen3: #e8eeff;