$w: #ffffff;
$b: #000000;
$gray-100: #f8f8f8;
$gray-200: #e9e9e9;
$gray-300: #dedede;
$gray-400: #cecece;
$gray-500: #adadad;
$gray-600: #6c6c6c;
$gray-700: #494949;
$gray-800: #343434;
$gray-900: #212121;

$primary: #dc6640;
$secondary: #a1d077;

$screen1: #eb5d5d;
$screen2: #6eeb5d;
$screen3: #5d5feb;
$screen4: #ebc55d;