@import "typography";
@import "variables";

@import "screens/attract-screen";
@import "screens/intro-screen";
@import "screens/game-screen";

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}