@import "typography";
@import "variables";

@import "screens/attract-screen";
@import "screens/intro-screen";
@import "screens/game-screen";

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  // display: none;
}

#impact-wall {
  position: absolute;
  top: 0;
  left: 0;
  width: 2572px;
  height: 1170px;

  .active {
    // display: block;
  }
}