#attract-screen {
    height: 100%;
    color: $w;
    text-shadow: 0px 0px 50px rgba(0,0,0,0.75);
    text-align: center;
    background-color: $screen1;
    background: url('/media/images/main-bg.jpg') no-repeat;
    h1 {
        font-size: 10rem;
        animation: pulse 4s ease-in-out 0s infinite normal none;
    }
    
    h2 {
        animation: fade 6s ease-in-out 0s infinite normal none;
    }
}

#attract-title {
    position: relative;
    top: 150px;
}

goomba{
    position: absolute;
    left: 450px;
    bottom: 30px;
    width: 250px;
    height: 300px;
    background: url('/media/images/goomba.png') no-repeat;
    background-size: contain;
}

goombastack{
    position: absolute;
    right: 150px;
    bottom: 20px;
    width: 300px;
    height: 975px;
    background: url('/media/images/goomba-stack.png') no-repeat;
    background-size: contain;
}

goombawings{
    position: absolute;
    left: 100px;
    top: 200px;
    width: 360px;
    height: 360px;
    background: url('/media/images/goomba-wings.png') no-repeat;
    transform: scaleX(-1);
    background-size: contain;
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes fade {
	0%,
	50%,
	100% {
		opacity: 1;
	}

	25%,
	75% {
		opacity: 0.6;
	}
}