#game-screen {
    height: 100%;
    background-color: $screen3;

    .columns{
        display: flex;
        height: 100%;
    }
    .col-1 {
        flex: 1;
        border: 1px solid white;
        z-index: 0;
    };
    .col-2 {
        flex: 1;
        border: 1px solid white;
        z-index: 0;
    };
    .col-3 {
        flex: 1;
        border: 1px solid white;
        z-index: 0;
    };
}