#intro-screen {
    height: 100%;
    background-color: $screen2;
    background: url('/media/images/intro-bg.jpg') no-repeat;

    color: $w;

    .box {
        position: absolute; 
        background: url('/media/images/intro-textbox.svg') no-repeat;
        height: 50%;
        top: 150px;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        padding: 150px;
        margin: auto;
        text-align: center;
        h1{
            margin-bottom: 20px;
        }
    }
}