#question-screen {
    height: 100%;
    background-color: $screen4;
    background: url('/media/images/main-bg.jpg') no-repeat;

    h1 {
        font-size: 5rem;
        text-align: center;
        color:#DF663D;
    }

    h2 {
        text-align: center;
        color: $w;
    }

    .box {
    position: absolute; 
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    background-color: $w;
    opacity: 75%;
    padding: 150px;
    border-radius: 50px;
    margin: auto;
    text-align: center;
    h1{
        margin-bottom: 20px;
    }
}

    .columns{
        display: flex;
        height: 100%;
        margin-top: 100px;
    }
    .col-1 {
        flex: 2;
        z-index: 0;
    };
    .col-2 {
        flex: 0;
        z-index: 0;
    };
    .col-3 {
        flex: 1;
        z-index: 0;
    };
}